.nav-link{
    color: #344463 !important;
}
.ecrit{
    /* margin-top: 45rem !important; */
}
.card-img-top{
    height: 50%;
}
.cad{

}
.iconn{
    margin-top: 19rem !important;
}
.ican{
    white-space: nowrap;
}
.premier{
    margin-top: 15rem !important;
}
/* .btn{
color: #FF6B00 !important;
background-color: #EBEFF4 !important;
} */
.bod{
    height: 156px !important;
}
.top2{
    height: 280px !important;
}
.get{
    background-color: rgb(255,107,0);
}
.dex{
    white-space: nowrap !important;
}
.btn2023 ul li{
 color: #FF6B00 !important;
}
.skil{
    height: 566px !important;
}
.skil2{
    height: 400px !important;
}
.lang{
    height: 566px !important;
}  
.uk{
    height: 86px !important;
}

.top1{
    height: 304px !important;
}
.orange{
    color: #FF6B00;
}
.chevrons{
    margin-top: 2rem !important;
    display: flex !important;
    justify-content: end;
    
}
.chevronss{
    border: 1px solid black;
}
.fille{
width:90% !important;
}

.iimg{
    height: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px;
}
.carde{
    width: 423.33px;
    margin: auto;
    justify-content: center;
}
.cardebod{
    height: 204px !important;
}
.abou{
    font-size:70px ;
}