#fin{
    margin-bottom: 7rem;
}
.black{
    width: 100px;
    height: 10px;
    display: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
#hhhd{
    display: none;
}
.bleufoncé{
    color: #172B4D ;
}.orange{
    color: #FF6B00;
}
.get:hover {
    background-color: #FE984E !important;
}

.get:active {
    background-color: #E35F00 !important;
}

.get {
    border: none;
    height: 45px;
    width: 120px;
    background-color: rgb(255, 107, 0);
}
.bouton1 {
    color: white;
    font-size: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 280px;
    height: 60px;
    background-color: #FF6B00;
    border: 1px solid black;
}
.bouton1:hover {
background-color: #FE984E ;
}
.bouton1:active {
    background-color: #E35F00 ;
}
.card-img-top {
    box-shadow: grey 0px 3px 0px 0px;
    border-radius: 10px;
}
#Selenium {
    display: none;
}
.nav-link {
    color: #344463;
}
.ptb {
    width: 7rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
}

.ptb:hover {
    background-color: #C5E9DA;
}

button.ptb {
    background-color: #36B37E;
}

.ptb:active {
    background-color: #28855D;
}
.btn {
    font-size: 15px;
    color: #FF6B00 !important;
}
.chevrons {
    margin-top: 2rem ;
    display: flex;
    justify-content: end;
}
.chevronss {
    width: 30px;
    border: 1px solid black;
}
.life{
    height: 100vh;
}
.fille{
    width: 720px;
    height: 100vh;
}
#ab {
    color: #172B4D;
    font-size: 70px;
}
#ppp{
    margin-top: 2rem;
    color: #172B4D;
    font-size: 70px;  
}
#des{
    /* margin: auto; */
}
.con{
    font-weight: 450;
}
.ecrit{
    margin-top: 18rem;
}
.git{
    margin-top: 1rem;
}
.iconn{
    margin-top: 16rem;
}
textarea:focus {
    box-shadow: none !important;
}

textarea {
    border-color: #FF6B00 !important;
}

input:focus {
    box-shadow: none !important;
}

input {
    border-color: #EBEFF4 !important;
}
#impa{
    box-shadow: 5px 5px 25px gray;
   height: 281.33px;
}
h5{
    height: 98px;
    font-weight: 300;
}
#bes{
height: 500px;
}
.full{
    display: none;
}
.sect1{
    height: 100vh;
}
.abla{
    margin-top: 17rem;
    height: 100vh;
} 
@media screen and (max-width:1024px) {
    .fille{
        width: 520px;
        height: 100vh;
    } 
    .life{
        height: 30vh;
    }
    .git{
        margin-top: 1.5rem;
    }
    .iconn{
        margin-top: 10rem;
    }
    .sect1{
        height: 100vh;
    }
    .abla{
        height: 100vh;
        margin-top: 30rem;
    }
    h5{
        font-size: 14px;
        height: 45px;
    }
    #bes{
        height: 480px;
    }
    .btn{
        font-size: 10px;
    }
}
@media screen and (max-width:768px) {
    .fille{
        width: 320px;
        height: 100vh;
    } 
    .life{
        height: 30vh;
    }
    .git{
        margin-top: 1.5rem;
    }
    .iconn{
        margin-top: 8rem;
    }
    .sect1{
        height: 100vh;
    }
    .abla{
        height: 100vh;
        margin-top: 30rem;
    }
    h5{
        font-size: 14px;
        height: 45px;
    }
    #bes{
        height: 480px;
    }
    .btn{
        font-size: 6px;
    }
}
@media screen and (max-width:425px) {
    .row{
        flex-direction: column;
    }
    .premiere{
        flex-direction: column !important;
    }
    .bouton1{
        display: none;
    }
    .chevronss{
        display: none;
    }
    .fille{
        height: 35vh;
        width: 200px;
    }
    .iiii{
        height: 50px;
    }
    #ppp{
        font-size: 40px;
    }
    #bes{
        margin-right: 24px !important;
        margin-top: 10px !important;
     margin-left: 24px !important;
    }
    .abla{
        margin-top: 58rem;
    }
    #des{
        margin-right: 24px !important;
        margin-top: 10px !important;
     margin-left: 24px !important;
    }
    .con{
        margin-top: 37rem;
    }
    .langue{
        height: 430px !important;
        width: 350px;
    }
    .ros1{
        padding: auto !important;
        margin-bottom: 10px;
    }
    .ros2{
        padding: auto !important;
    }
    #zo{
        margin-bottom: 100rem;
        margin: auto;
    }
    #deux{
        display: none !important;
    }
    .full{
        display: block;
    }
    #bdf{
        display: none;
    }
    #hhhd{
        display: block;
    }
    .impt{
        margin: auto;
    }
    .black{
        display: block;
        margin: auto;
    }
    #ab{
        margin-top: 7rem;
    }
    #impa{
        height: 150px;
    }
    .con{
margin-top: 51rem;
margin-bottom: 7rem;
    }
    .liste-a-puce{
        margin-bottom: 5Px !important;
    }
}
@media screen and (max-width:375px) {
    .row{
        flex-direction: column;
    }
    .premiere{
        flex-direction: column !important;
    }
    .bouton1{
        display: none;
    }
    .chevronss{
        display: none;
    }
    .fille{
        height: 35vh;
        width: 200px;
    }
    .iiii{
        height: 50px;
    }
    #ppp{
        font-size: 40px;
    }
    #bes{
        margin-right: 24px !important;
        margin-top: 10px !important;
     margin-left: 24px !important;
      
      
    }
    .abla{
        margin-top: 58rem;
    }
    #des{
    margin: auto;
    }
    .con{
        margin-top: 37rem;
    }
    .langue{
        margin-top: 70px !important;
        height: 430px !important;
        width: 300px;
    }
    .ros1{
        margin-bottom: 10px;
    }
    #zo{
        margin-bottom: 100rem;
        margin: auto;
    }
    #deux{
        display: none !important;
    }
    .full{
        display: block;
    }
    #bdf{
        display: none;
    }
    #hhhd{
        display: block;
    }
    .impt{
        margin: auto;
    }
    .black{
        display: block;
        margin: auto;
    }
    #ab{
        margin-top: 7rem;
    }
    #impa{
        height: 150px;
    }
    .con{
    margin-top: 51rem;
    margin-bottom: 7rem;
    }
    
}




